.skeleton {
  border-radius: var(--radius-sm);

  background: linear-gradient(
    90deg,
    var(--color-surface),
    var(--color-surface-light),
    var(--color-surface)
  );

  background-size: 200% 100%;

  animation: shimmer 1.4s infinite linear;
}

@keyframes shimmer {
  to {
    background-position: -200% 0;
  }
}
