PORT=5000
NODE_ENV=development

CLIENT_URL=http://localhost:5173

DATABASE_URL="postgresql://azaria:1234@localhost:5432/azaria_os"

# Future secrets
JWT_SECRET=
ADMIN_SECRET_HASH=
GITHUB_TOKEN=
EMAIL_USER=
EMAIL_PASSWORD=