PORT=5000
NODE_ENV=development

CLIENT_URL=http://localhost:5173

# TODO:Database will be added in Milestone 1.3
DATABASE_URL=

# Future secrets
JWT_SECRET=
ADMIN_SECRET_HASH=
GITHUB_TOKEN=
EMAIL_USER=
EMAIL_PASSWORD=