@import "../../../../styles/theme.css";

.main {
  flex: 1;
  display: flex;
  width: 100%;
}

.main__container {
  width: 100%;
  max-width: var(--layout-max-width);
  margin: 0 auto;
  padding: 1rem var(--layout-padding);
  box-sizing: border-box;
}